.homes-index {

  .card-style {
    margin: 0 auto;
    width: 800px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.1);
    margin-top: 40px;
    margin-bottom: 100px;
    padding-bottom: 100px;

    .title {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .image-user_data-container {
      display: flex;

      .image {
        margin-left: 70px;
      }

      .title-edit-container{
        display: flex;

        .user_data-title {
          margin-left: 90px;
          margin-bottom: 10px;
          margin-right: 40px;
        }
      }

      .user_data-card-style {
        margin: 0 auto;
        width: 400px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 9px rgba(0,0,0,0.1);
        padding: 20px;
      }

      .user-name {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .user-email {
        font-size: 20px;
      }
    }
    .search-bookmark-container {
      display: flex;
      margin-top: 100px;

      .search-card-style {
        margin: 0 auto;
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 9px rgba(0,0,0,0.1);
        padding: 20px;
        text-align: center;
      }

      .bookmark-card-style {
        margin: 0 auto;
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 9px rgba(0,0,0,0.1);
        padding: 20px;
        text-align: center;
      }
    }
  }
}