<div class="comments-value">
  <div id="star-value">
    <div class="value-container">
      <% 5.times do |i| %>
          <div class="star" data-index="<%= i %>">
            <i class="fa-regular fa-star fa-3x icon-gray"></i>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
document.addEventListener("turbo:load", function() {
  const stars = document.querySelectorAll("#star-value .star")
  const value_data = document.getElementById("value-data")

  if (stars && value_data) {
    const defaultValue = parseInt(value_data.value);
    if (defaultValue > 0) {
      for (let i = 0; i < defaultValue; i++) {
        const icon = stars[i].querySelector("i");
        icon.classList.remove("fa-regular", "icon-gray");
        icon.classList.add("fa-solid", "icon-yellow");
      }
    }
  }
  if (stars) {
    stars.forEach((star, index) => {
      star.addEventListener("click", function() {
        stars.forEach(s => {
          const icon = s.querySelector("i");
          icon.classList.remove("fa-solid", "icon-yellow")
          icon.classList.add("fa-regular", "icon-gray")
        });

        for (let i = 0; i <= index; i++ ) {
          const icon = stars[i].querySelector("i");
          icon.classList.remove("fa-regular", "icon-gray");
          icon.classList.add("fa-solid", "icon-yellow");
          
        }
        value_data.value = index + 1;
        console.log("value-data:", value_data);
      })
    })
  }
})

</script>