<div class="comment-edit">
  <div class="create-form">
    <turbo-frame id="value-frame">
      <%= render 'comments/create_form', shop: @shop, comment: @comment, value: @value %>
    </turbo-frame>
  </div>
</div>