.shops-list{

  .shops-list-container {
    border: 1px solid #ddd;
    box-shadow: 0 4px 9px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    .image {
      width: 130px;
      height: 130px;
      margin-right: 100px;
    }

    .shops {
      width: 400px;
      overflow-wrap: break-word;
      text-align: center;

      .shops-name {
        font-size: 20px;
      }
    }

    .icon {
      margin-left: 40px;
      color: pink;
    }
  }
}