<li class="page-item">
  <%= link_to_unless current_page.last?, raw(t 'views.pagination.last'), url_for(request.query_parameters.except(:start).merge(page: @shops.total_pages)), remote: remote, class: 'page-link' %>
</li>
