<li class="page-item">
  <%= link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url_for(request.query_parameters.except(:start).merge(page: current_page - 1)), rel: 'prev', remote: remote, class: 'page-link' %>
</li>
