/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.shops-show .card-style {
  margin: 0 auto;
  width: 700px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}
.shops-show .card-style .shop-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.shops-show .card-style .shop-container .title {
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
  padding: 10px;
  width: 550px;
  overflow-wrap: break-word;
}
.shops-show .card-style .shop-container .icon {
  margin-left: 20px;
  color: pink;
}
.shops-show .card-style .image {
  text-align: center;
  margin-bottom: 20px;
}
.shops-show .card-style .shops-detail {
  display: flex;
  border: 1px solid #ddd;
  align-items: center;
  padding: 10px;
}
.shops-show .card-style .shops-detail .label {
  font-size: 25px;
  width: 220px;
  padding: 10px;
}
.shops-show .card-style .shops-detail .data {
  flex: 1;
  text-align: left;
}
.shops-show .back-link {
  margin: 0 auto;
  width: 700px;
  text-align: right;
  margin-bottom: 40px;
  margin-top: 10px;
}

.shops-index .title {
  margin-top: 50px;
  text-align: center;
}
.shops-index .filter {
  margin: 0 auto;
  width: 650px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 13px;
  margin-bottom: 20px;
}
.shops-index .current-location-search-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.shops-index .current-location-search-container .current-location {
  font-size: 18px;
}
.shops-index .current-location-search-container .search {
  width: 400px;
}
.shops-index .no-search {
  margin-top: 50px;
  text-align: center;
}

.shops-shop .card-style {
  margin: 0 auto;
  width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  padding: 16px;
  margin-bottom: 50px;
}
.shops-shop .card-style .pagination {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 20px;
  text-align: center;
}
.shops-shop .card-style .pagination .page_link {
  padding-top: 4px;
  color: blue;
  background: #FFF;
  border: 1px solid #ddd;
  width: 35px;
  height: 35px;
}
.shops-shop .card-style .pagination .no-underline {
  text-decoration: none;
}
.shops-shop .card-style .pagination .current_page {
  padding-top: 4px;
  font-weight: bold;
  color: white;
  background: #007bff;
  width: 35px;
  height: 35px;
}
.shops-shop .card-style .pagination .next-100 {
  padding: 5px 10px;
  color: blue;
  background: #FFF;
  border: 1px solid #ddd;
}

.bookmarks-index .title {
  margin-top: 50px;
  text-align: center;
}
.bookmarks-index .card-style {
  margin: 0 auto;
  width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  padding: 16px;
  margin-bottom: 50px;
}
.bookmarks-index .card-style .pagination {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 20px;
}
.bookmarks-index .card-style .pagination .page_link {
  padding-top: 4px;
  color: blue;
  background: #FFF;
  border: 1px solid #ddd;
  width: 35px;
  height: 35px;
}
.bookmarks-index .card-style .pagination .page_link .no-underline {
  text-decoration: none;
}
.bookmarks-index .card-style .pagination .current_page {
  padding-top: 4px;
  font-weight: bold;
  color: white;
  background: #007bff;
  width: 35px;
  height: 35px;
}
.bookmarks-index .card-style .bookmark-nil {
  margin-top: 200px;
}

.shops-list .shops-list-container {
  border: 1px solid #ddd;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.shops-list .shops-list-container .image {
  width: 130px;
  height: 130px;
  margin-right: 100px;
}
.shops-list .shops-list-container .shops {
  width: 400px;
  overflow-wrap: break-word;
  text-align: center;
}
.shops-list .shops-list-container .shops .shops-name {
  font-size: 20px;
}
.shops-list .shops-list-container .icon {
  margin-left: 40px;
  color: pink;
}

.comment-edit .edit-form {
  margin-top: 200px;
}

.comments-value .value-container {
  display: flex;
}
.comments-value .value-container .icon-gray {
  color: gray;
}
.comments-value .value-container .icon-yellow {
  color: yellow;
}

.comment-list .title {
  text-align: center;
  margin-bottom: 30px;
}
.comment-list .user-data-value-form {
  margin: 0 auto;
  width: 700px;
  display: flex;
}
.comment-list .user-data-value-form .user-data-card-style {
  width: 400px;
  height: 60px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.comment-list .user-data-value-form .user-data-card-style .user-data-container {
  display: flex;
}
.comment-list .user-data-value-form .user-data-card-style .user-data-container .user {
  margin-left: 20px;
}
.comment-list .user-data-value-form .icon-gray {
  color: gray;
}
.comment-list .user-data-value-form .icon-yellow {
  color: yellow;
}
.comment-list .comment-form-container {
  display: flex;
  width: 700px;
  margin: 0 auto;
}
.comment-list .comment-form-container .comment-style {
  margin: 0 auto;
  width: 700px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}
.comment-list .comment-form-container .edit-delete-link {
  margin-left: auto;
  margin-left: 10px;
}
.comment-list .comment-form-container .edit-delete-link .edit {
  margin-right: 10px;
}
.comment-list .no-comment {
  margin: 50px;
  text-align: center;
}

.comment-create .comment-style {
  width: 700px;
  margin: 0 auto;
}
.comment-create .comment-style .comment-create-container {
  display: flex;
}
.comment-create .comment-style .comment-create-container .icon-gray {
  color: gray;
}
.comment-create .comment-style .comment-create-container .icon-yellow {
  color: yellow;
}
.comment-create .comment-style .content {
  width: 100%;
  height: 100px;
}
.comment-create .comment-style .submit-visit-day {
  display: flex;
  margin-bottom: 50px;
}
.comment-create .comment-style .submit-visit-day .visit-day {
  text-align: left;
}
.comment-create .comment-style .submit-visit-day .submit {
  margin-left: auto;
}
.comment-create .comment-style .submit-visit-day .submit .submit-botton {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 4px;
  font-size: 20px;
}

.homes-index .card-style {
  margin: 0 auto;
  width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}
.homes-index .card-style .title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.homes-index .card-style .image-user_data-container {
  display: flex;
}
.homes-index .card-style .image-user_data-container .image {
  margin-left: 70px;
}
.homes-index .card-style .image-user_data-container .title-edit-container {
  display: flex;
}
.homes-index .card-style .image-user_data-container .title-edit-container .user_data-title {
  margin-left: 90px;
  margin-bottom: 10px;
  margin-right: 40px;
}
.homes-index .card-style .image-user_data-container .user_data-card-style {
  margin: 0 auto;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.homes-index .card-style .image-user_data-container .user-name {
  font-size: 20px;
  margin-bottom: 10px;
}
.homes-index .card-style .image-user_data-container .user-email {
  font-size: 20px;
}
.homes-index .card-style .search-bookmark-container {
  display: flex;
  margin-top: 100px;
}
.homes-index .card-style .search-bookmark-container .search-card-style {
  margin: 0 auto;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}
.homes-index .card-style .search-bookmark-container .bookmark-card-style {
  margin: 0 auto;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.users-registrations-new .card-style {
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
.users-registrations-new .card-style .title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.users-registrations-new .card-style .form-group {
  margin-bottom: 20px;
}
.users-registrations-new .card-style .text-field {
  width: 100%;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.users-registrations-new .card-style .submit {
  text-align: center;
  margin-bottom: 10px;
}
.users-registrations-new .card-style .submit-botton {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 4px;
  font-size: 20px;
}
.users-registrations-new .card-style .login {
  text-align: center;
}

.users-sessions-new .card-style {
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
.users-sessions-new .card-style .title {
  text-align: center;
  margin-bottom: 20px;
}
.users-sessions-new .card-style .form-group {
  margin-bottom: 20px;
}
.users-sessions-new .card-style .text-field {
  width: 100%;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.users-sessions-new .card-style .submit {
  text-align: center;
  margin-top: 20px;
}
.users-sessions-new .card-style .submit-botton {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 4px;
  padding: 5px;
}
.users-sessions-new .card-style .link {
  text-align: center;
  margin-top: 10px;
}

.users-passwords-new .title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.users-passwords-new .title p {
  color: #666;
}
.users-passwords-new .card-style {
  margin: 0 auto;
  margin-top: 150px;
  padding: 15px;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
.users-passwords-new .form-group {
  margin-bottom: 5px;
}
.users-passwords-new .text-field {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.users-passwords-new .submit {
  text-align: center;
}
.users-passwords-new .submit-botton {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 4px;
  padding: 5px;
}
.users-passwords-new .link {
  margin-top: 20px;
  text-align: center;
}

.users-passwords-edit .card-style {
  margin: 0 auto;
  margin-top: 150px;
  padding: 15px;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
.users-passwords-edit .card-style .title {
  text-align: center;
  margin-bottom: 20px;
}
.users-passwords-edit .card-style .form-group {
  margin-bottom: 10px;
}
.users-passwords-edit .card-style .password-field {
  width: 100%;
}
.users-passwords-edit .card-style .submit {
  text-align: center;
}
.users-passwords-edit .card-style .submit-botton {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 4px;
  margin-bottom: 20px;
}
.users-passwords-edit .card-style .link {
  text-align: center;
}

/*# sourceMappingURL=application.css.map */
