.shops-index {

.title {
  margin-top: 50px;
  text-align: center;
}

.card-style {
  margin: 0 auto;
  width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0,0,0,0.1);
  margin-top: 40px;
  padding: 16px;
  margin-bottom: 50px;
}

.shop-container {
  border: 1px solid #ddd;
  box-shadow: 0 4px 9px rgba(0,0,0,0.1);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.filter {
  margin-left: 30em;
  margin: 0 auto;
  width: 650px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0,0,0,0.1);
  margin-top: 20px;
  padding: 13px;
  margin-bottom: 20px;
}

.search {
  text-align: center;
}
.shops {
  width: 400px;
  overflow-wrap: break-word;
}

.shops-name {
  font-size: 30px;
}

.image {
  width: 130px;
  height: 130px;
  margin-right: 100px;
  margin-left: 10px;
}

.icon {
  margin-left: 40px;
  color: pink;
}

.pagination {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 20px;
  
}
.page {
  margin: 0 auto;
}

.current_page {
  padding-top: 4px;
  font-weight: bold;
  color: white;
  background: #007bff;
  width: 35px;
  height: 35px;
}
.page_link{
  padding-top: 4px;
  color: blue;
  background: #FFF;
  border: 1px solid #ddd;
  width: 35px;
  height: 35px;
}

.next-100{
  padding: 5px 10px;
  color: blue;
  background: #FFF;
  border: 1px solid #ddd;
}
.no-underline {
  text-decoration: none;
}
}