.shops-index {
  .title {
    margin-top: 50px;
    text-align: center;
  }

  .filter {
    margin: 0 auto;
    width: 650px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 9px rgba(0,0,0,0.1);
    margin-top: 20px;
    padding: 13px;
    margin-bottom: 20px;
  }

  .current-location-search-container {
    display: flex;
    justify-content: center;
    gap: 30px;

    .current-location {
      font-size: 18px;
    }

    .search {
      width: 400px;
    }
  }
  .no-search {
    margin-top: 50px;
  }
}