.title {
  margin-top: 50px;
  text-align: center;
}

.card-style {
  margin: 0 auto;
  width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0,0,0,0.1);
  margin-top: 40px;
  padding: 16px;
}

.container {
  border: 1px solid #ddd;
  box-shadow: 0 4px 9px rgba(0,0,0,0.1);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.filter {
  margin-left: 30em;
  margin: 0 auto;
  width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0,0,0,0.1);
  margin-top: 20px;
  padding: 13px;
  margin-bottom: 20px;
}

.search {
  text-align: center;
}
.shops {
  width: 400px;
  overflow-wrap: break-word;
}

.shops-name {
  font-size: 30px;
}

.image {
  width: 130px;
  height: 130px;
  margin-right: 100px;
}

.icon {
  margin-left: 20px;
  color:pink;
}

.page {
  display: flex;
  justify-content: center;
}