.title2 {
  text-align: center;
}

.card-style2 {
  margin: 0 auto;
  width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0,0,0,0.1);
  margin-top: 40px;
  padding: 16px;
}