.title {
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-style {
  margin: 0 auto;
  width: 800px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 9px rgba(0,0,0,0.1);
  margin-top: 70px;
  padding: 16px;
}

.container {
  border: 1px solid #ddd;
  box-shadow: 0 4px 9px rgba(0,0,0,0.1);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.shops {
 width: 400px;
 overflow-wrap: break-word;
}

.shops-name {
  font-size: 30px;
}

.image {
  width: 130px;
  height: 130px;
  margin-right: 100px;
}

.search-form {
 text-align: center;
}

.icon {
  margin-left: 20px;
  color:pink;
}